In [1]:
import pandas as pd
import numpy as np
import os

## 1. Olist_customer_dataset.csv

In [2]:
customer_data = pd.read_csv("eCommerce_Business_Trends/olist_customers_dataset.csv")
customer_data.set_index('customer_id',inplace = True)
customer_data.head()

,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
customer_id,,,,
06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [3]:
customer_data.shape

(99441, 4)

In [4]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99441 entries, 06b8999e2fba1a1fbc88172c00ba8bc7 to 274fa6071e5e17fe303b9748641082c8
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_unique_id        99441 non-null  object
 1   customer_zip_code_prefix  99441 non-null  int64
 2   customer_city             99441 non-null  object
 3   customer_state            99441 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.8+ MB

In [5]:
customer_data.isnull().sum()

customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [6]:
customer_data.nunique()

customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

In [7]:
customer_data.drop_duplicates(subset = ['customer_unique_id'],inplace = True)

## 2.olist_geolocation_dataset.csv

In [8]:
geolocation_data = pd.read_csv("eCommerce_Business_Trends/olist_geolocation_dataset.csv")
geolocation_data.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')

In [9]:
geolocation_data.drop_duplicates(subset=['geolocation_zip_code_prefix'], inplace=True)

In [10]:
geolocation_data.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
5,1012,-23.547762,-46.635361,são paulo,SP

In [11]:
geolocation_data.nunique()

geolocation_zip_code_prefix    19015
geolocation_lat                18987
geolocation_lng                18988
geolocation_city                5955
geolocation_state                 27
dtype: int64

In [56]:
geolocation_data.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

## 3. olist_order_items_dataset.csv

In [13]:
order_items_data = pd.read_csv("eCommerce_Business_Trends/olist_order_items_dataset.csv")
order_items_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [14]:
order_items_data["shipping_limit_date"] = pd.to_datetime(order_items_data["shipping_limit_date"])

In [15]:
order_items_data.drop_duplicates(subset = ['order_id'],inplace = True)
order_items_data.count()

order_id               98666
order_item_id          98666
product_id             98666
seller_id              98666
shipping_limit_date    98666
price                  98666
freight_value          98666
dtype: int64

In [16]:
order_items_data.set_index("order_id",inplace = True)

In [17]:
order_items_data.nunique()

order_item_id              1
product_id             31881
seller_id               3088
shipping_limit_date    93001
price                   5882
freight_value           6743
dtype: int64

In [18]:
order_items_data.isnull().sum()

order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [19]:
order_items_data

,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_id,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...
fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

## 4. olist_order_payment_dataset.csv

In [20]:
order_payment_data = pd.read_csv("eCommerce_Business_Trends/olist_order_payments_dataset.csv")
order_payment_data.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [21]:
order_payment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [22]:
order_payment_data.drop_duplicates(subset = ['order_id'],inplace = True)
order_payment_data.set_index("order_id",inplace = True)

In [23]:
order_payment_data.nunique()

payment_sequential         16
payment_type                5
payment_installments       24
payment_value           28133
dtype: int64

In [24]:
order_payment_data.isnull().sum()

payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

## 5.olist_order_reviews_data

In [25]:
order_reviews_data = pd.read_csv("eCommerce_Business_Trends/olist_order_reviews_dataset.csv")

In [26]:
order_reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [27]:
order_reviews_data['review_creation_date'] = pd.to_datetime(order_reviews_data['review_creation_date'])
order_reviews_data['review_answer_timestamp'] = pd.to_datetime(order_reviews_data['review_answer_timestamp'])

In [28]:
order_reviews_data.drop_duplicates(subset = ['review_id'], inplace = True)
order_reviews_data.set_index("review_id", inplace = True)

In [29]:
order_reviews_data.head()

,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
review_id,,,,,,
7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [30]:
order_reviews_data.isnull().sum()

order_id                       0
review_score                   0
review_comment_title       86891
review_comment_message     57742
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [31]:
order_reviews_data.drop(columns = ["review_comment_title","review_comment_message"], inplace = True)

In [32]:
order_reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98410 entries, 7bc2406110b926393aa56f80a40eba40 to efe49f1d6f951dd88b51e6ccd4cc548f
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_id                 98410 non-null  object
 1   review_score             98410 non-null  int64
 2   review_creation_date     98410 non-null  datetime64[ns]
 3   review_answer_timestamp  98410 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 3.8+ MB

## 6. olist_orders_dataset.csv

In [33]:
orders_data = pd.read_csv("eCommerce_Business_Trends/olist_orders_dataset.csv")
orders_data.shape

(99441, 8)

In [34]:
orders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [35]:
columns_to_convert = ['order_purchase_timestamp', 'order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date']
for column in columns_to_convert:
    orders_data[column] = pd.to_datetime(orders_data[column])
orders_data.set_index("order_id",inplace = True)

In [36]:
orders_data.isna().sum()

customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [37]:
orders_data.dropna(axis = 0, how ="any", inplace = True)
orders_data.isna().sum()

customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

## 7. olist_products_dataset.csv

In [38]:
product_data = pd.read_csv("eCommerce_Business_Trends/olist_products_dataset.csv")
product_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [39]:
product_data.drop(columns = ['product_name_lenght','product_description_lenght','product_weight_g','product_length_cm','product_height_cm','product_width_cm'], inplace = True)

In [40]:
product_data.isna().sum()

product_id                 0
product_category_name    610
product_photos_qty       610
dtype: int64

In [41]:
product_data.dropna(axis = 0, how = "any", inplace = True)

In [42]:
product_data.set_index("product_id",inplace = True)

In [43]:
product_data['product_photos_qty'].replace("other",0,inplace = True)

In [44]:
product_data.columns

Index(['product_category_name', 'product_photos_qty'], dtype='object')

## olist_sellers_dataset.csv

In [45]:
sellers_data = pd.read_csv("eCommerce_Business_Trends/olist_sellers_dataset.csv")
sellers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [46]:
sellers_data.nunique()

seller_id                 3095
seller_zip_code_prefix    2246
seller_city                611
seller_state                23
dtype: int64

In [47]:
sellers_data.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

## 9.olist_product_category_name_translation.csv

In [48]:
product_category = pd.read_csv("eCommerce_Business_Trends/product_category_name_translation.csv")
product_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [49]:
product_category.drop_duplicates(subset = ["product_category_name"],inplace = True)

In [50]:
product_category = product_category.reset_index(drop=True)

In [51]:
product_category.isna().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [52]:
product_category.columns

Index(['product_category_name', 'product_category_name_english'], dtype='object')

In [53]:
import pyodbc

# Thay đổi các giá trị này phù hợp với thông tin kết nối của bạn
server = 'WINDOWS-4G8BUQ1\WINCC'
database = 'eCommerce'
driver = '{SQL Server}'

# Tạo chuỗi kết nối
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database}"

# Kết nối với cơ sở dữ liệu bằng Windows Authentication
conn = pyodbc.connect(connection_string)

In [54]:
if not os.path.exists("final_database"):
    os.makedirs("final_database")

In [55]:
customer_data.to_csv("final_database/customer_data.csv") 
geolocation_data.to_csv("final_database/geolocation_data.csv") 
order_items_data.to_csv("final_database/order_item_data.csv") 
order_payment_data.to_csv("final_database/order_payment_data.csv")
order_reviews_data.to_csv("final_database/order_reviews_data.csv") 
product_data.to_csv("final_database/product_data.csv") 
sellers_data.to_csv("final_database/seller_data.csv") 
product_category.to_csv("final_database/product_catagory_data.csv") 
orders_data.to_csv("final_database/orders_data.csv")